* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.full_content {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_content {
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right 190px;
    background-size: 43%;
}

.menu {
    margin-top: 42px;
    margin-left: 114px;
    margin-right: 114px;
    margin-bottom: 115px;
}

.menu_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.top_logo:hover {
    background-color: red;
    border-radius: 10px;
}

.top_info {
    flex-grow: 1;
    height: 100%;
}

.top_info_h1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    margin-left: 114px;
}

.text_p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.top_info_p1 {
    width: 425px;
    margin-left: 114px;
}

.top_info_link {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    margin-left: 114px;
    margin-top: 71px;
    margin-bottom: 190px;
    padding: 15px 50px;
}

a.top_info_link:hover {
    color: red;
}

.what_we_do {
    padding-top: 64px;
}

.text_h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.center_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.product_catalog {
    display: flex;
    flex-direction: column;
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.product_catalog_img {
    align-self: center;
    margin-bottom: 52px;
}

.text_h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.text_h4_product {
    margin-left: 32px;
    margin-right: 32px;
}

.text_p_product {
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 32px;
}

.product_catalog_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    margin-left: 32px;
}

.product_catalog_link:hover {
    color: red;
    font-size: 19px;
}

.what_we_do_p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    margin: 32px auto 64px;
    opacity: 1;
}

.project_item {
    margin-right: 32px;
    margin-bottom: 32px;
}

.project_img {
    width: 100%;
}

.project_img_1 {
    position: relative;
}

.project_text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.project_text_1 {
    top: 64px;
    right: 64px;
}

.project_text_2 {
    right: auto;
    top: 32px;
    left: 32px;
    text-align: left;
}

.project_parent {
    display: flex;
}

.footer {
    background: #316099;
    margin-top: 112px;
    padding-top: 91px;
    padding-bottom: 64px;
    width: auto;
}

.footer_top {
    display: flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: center;
}

h3.text_h3_footer {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
    margin-left: 114px;
    width: 340px;
}

p.text_p_footer {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 495px;
    margin-left: 114px;
}

.footer_button_link {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

.footer_button_link:hover {
    color: red;
}

.footer_hr {
    opacity: 0.4;
    color: white;
}

.footer_bottom {
    padding-top: 64px;
    padding-bottom: 64px;
}

.bottom_contact_flex {
    display: flex;
    justify-content: space-between;
}

.bottom_contact_text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.decimal_ol {
    list-style-type: decimal;
}

.decimal_ol_first {
    margin-left: 114px;
}

.decimal_ol_end {
    margin-right: 114px;
}

.text_copyrait {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
    margin-left: 94px;
    margin-bottom: 64px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .menu {
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 55px;
        margin-bottom: 120px;
    }

    .top_content {
        background-position: right 390px;
    }

    .top_info_h1 {
        margin-top: 0;
        margin-left: 32px;
    }

    .top_info_p1 {
        padding-bottom: 72px;
        margin-left: 32px;
    }

    .top_info_link {
        margin-left: 32px;
    }

    .center_catalog {
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        padding-bottom: 127px;
    }

    .product_catalog {
        margin-bottom: 32px;
    }

    .text_h4_product,
    .text_p_product,
    .product_catalog_link {
        margin-left: 30px;
    }

    .text_h3 {
        margin-left: 32px;
    }

    .product_catalog_img {
        margin-bottom: 48px;
    }

    .what_we_do_p {
        padding: 0;
        width: 100%;
    }

    .footer {
        padding-top: 0;
        margin-top: 109px;
    }

    .text_h3_footer {
        margin-left: 124px;
        margin-top: 47px;
        margin-bottom: 32px;
    }

    .footer_button_link {
        padding: 0;
        width: 133px;
        height: 31px;
        text-decoration: none;
        margin-top: 75px;
    }

    .footer_bottom {
        padding-bottom: 0;
    }

    .text_copyrait {
        margin-top: 32px;
    }

    .text_p_footer {
        margin-left: 124px;
        width: 336px;
        margin-top: 0;
        margin-bottom: 64px;
    }

    .bottom_contact_flex {
        flex-direction: column;
    }

    .decimal_ol {
        margin-left: 124px;
        margin-bottom: 34px;
    }

}

@media (max-width: 667px) {
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
        width: 100%;
    }


    .what_we_do {
        padding-top: 48px;
    }

    .menu {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 36px;
    }

    .top_content {
        background-image: none;
    }

    .top_info {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .top_info_h1 {
        width: 100%;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 12px;
        margin-top: 36px;
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
    }

    .top_info_p1 {
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
        text-align: center;
        padding-bottom: 32px;
    }

    .top_info_link {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-top: 32px;
        margin-left: 0px;
        margin-bottom: 41px;
        box-sizing: border-box;
    }

    .center_catalog {
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .product_catalog {
        width: 334px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .what_we_do_p {
        margin-bottom: 82px;
    }

    .text_h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
        margin-left: 17px;
        margin-right: 17px;
    }

    .project_parent {
        flex-direction: column;
    }

    .project_text_1 {
        top: 16px;
        right: 16px;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        width: 191px;
    }

    .project_text_2 {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
    }

    .project_img {
        margin-right: 17px;
        margin-left: 17px;
    }

    .footer {
        margin-top: 64px;
    }

    .footer_top {
        padding-bottom: 41px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    h3.text_h3_footer {
        margin-top: 18px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    p.text_p_footer {
        margin-left: 16px;
        margin-bottom: 40px;
        margin-right: 16px;
    }

    .footer_button_link {}

    .top_footer {
        display: flex;
    }

}

/* Страница "Контакты" */

.menu_contacts {
    margin-top: 45px;
    margin-bottom: 95px;
}

.top_contacts {
    display: flex;
    flex-direction: column;
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    padding-bottom: 48px;
    padding-top: 35px;
}

.text_h2_contacts {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.logo {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 16px;
    margin-left: 293px;
    margin-right: 293px;
    margin-bottom: 40px;
}

.content_full {
    display: flex;
    margin-top: 100px;
    margin-left: 112px;
    margin-right: 112px;
    margin-bottom: 96px;
}

.left_content {
    display: flex;
    flex-direction: column;
    margin-right: 101px;
}

.logo_img {
    width: 300px;
    align-self: center;
    margin-bottom: 56px;
}

.text_h4_contacts {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
    margin-top: 40px;
}


.right_content {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    padding: 56px;
}

.text_h4_contacts_2 {
    margin-top: 0;
    margin-bottom: 48px;
}

.label_text_h {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.text_input_contacts {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 36px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 428px;
    margin-bottom: 32px;
    border: 1px solid #356EAD;
}

.text_input_textarea {
    height: 144px;
    padding-bottom: 0;
    margin-bottom: 72px;
}

button.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    padding: 23px 170px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.page {
    width: 100%;
}

.map_size {
    text-align: center;
    margin-left: 112px;
    margin-right: 80px;
    margin-top: 96px;
}

.map_size iframe {
    width: 100%;
    height: 480px;
}



@media (max-width: 1024px) {
    .menu_contacts {
        margin-top: 18px;
        margin-bottom: 35px;
    }

    .top_contacts {
        padding-bottom: 55px;
    }

    .content_full {
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }

    .logo_img {
        align-self: center;
        margin-bottom: 64px;
    }

    .left_content {
        margin-bottom: 64px;
        align-items: center;
    }

    .right_content {
        margin-left: 124px;
        margin-right: 124px;
    }

}

@media (max-width: 667px) {}