* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu {
    margin-top: 42px;
    margin-left: 113px;
    margin-right: 113px;
}

.menu_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.top_logo:hover {
    background-color: red;
    border-radius: 10px;
}

.top_info {
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    flex-grow: 1;
    height: 100%;
    background-size: 43%
}

.top_info_h1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    margin-left: 113px;
    margin-top: 115px;
}

.text_p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.top_info_p1 {
    width: 425px;
    margin-left: 114px;
}

.top_info_link {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    margin-left: 114px;
    margin-top: 71px;
    padding: 15px 50px;
}

a.top_info_link:hover {
    color: red;
}

.what_we_do {
    padding-top: 64px;
}

.text_h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.center_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.product_catalog {
    display: flex;
    flex-direction: column;
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.product_catalog_img {
    align-self: center;
    margin-bottom: 51px;
}

.text_h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.text_p_product {
    margin-bottom: 30px;
}

.product_catalog_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.product_catalog_link:hover {
    color: red;
    font-size: 19px;
}

.project {}

.what_we_do_p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    margin: 32px auto 64px;
    opacity: 1;
}

.project_item {
    margin-right: 32px;
    margin-bottom: 32px;
}

.project_img {
    width: 100%;
}

.project_img_1 {
    position: relative;
}

.project_text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.project_text_1 {
    top: 64px;
    right: 64px;
}

.project_text_2 {
    right: auto;
    top: 32px;
    left: 32px;
    text-align: left;
}

.project_parent {
    display: flex;
    margin-bottom: 112px;
}

.footer {
    background: #316099;
    height: 657px;
}

.top_footer {}

.text_h3_footer {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 91px;
    margin-left: 113px;
    width: 340px;
}

.footer_button_link {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    margin-left: 63%;
}

.footer_button_link:hover {
    color: red;
}

.text_p_footer {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 32px;
    margin-left: 113px;
    max-width: 495px;
    margin-bottom: 96px;
}

.footer_hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.bottom_contacts {
    margin-top: 64px;
}

.bottom_contact_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom_contact_text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.decimal_ol {
    list-style-type: decimal;
}

.decimal_ol_first {
    margin-left: 113px;
}

.decimal_ol_end {
    margin-right: 113px;
}

.text_copyrait {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
    margin-left: 113px;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .menu {
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 55px;
        margin-bottom: 120px;
    }

    .top_info {
        background-position: right bottom;
    }

    .top_info_h1 {
        margin-top: 0;
    }

    .top_info_p1 {
        padding-bottom: 40px;
    }

    .top_info_link {
        margin-left: 32px;
    }

    .center_catalog {
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }

    .product_catalog {
        margin-bottom: 32px;
    }

    .text_h4_product,
    .text_p_product,
    .product_catalog_link {
        margin-left: 30px;
    }

    .text_h3 {
        margin-top: 64px;
    }


    .what_we_do_p {
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 667px) {
    .top {
        /* min-height: 376px; */
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .menu {
        margin-left: 16px;
        margin-right: 16px;
    }

    .top_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top_info_h1 {
        width: 100%;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 12px;
        margin-top: 36px;
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
    }

    .top_info_p1 {
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
        text-align: center;
    }

    .top_info_link {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-top: 32px;
        margin-left: 0px;
        margin-bottom: 41px;
        box-sizing: border-box;
    }

    .what_we_do_p {
    }

    .text_h3 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 48px;
    }

    .center_catalog {
        padding-top: 32px;
    }

    .product_catalog {
        width: 100%;
    }

}

/* Страница "Контакты" */

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.text_input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.map_full {
    position: relative;
    width: -webkit-fill-available;
    height: 400px;
}

.content_full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.left_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(16, 112, 177, 0.2);
    padding: 20px;
}

.right_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(16, 112, 177, 0.2);
    padding: 20px;
}